* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

@import "components/navbar";
@import "components/footer";
@import "components/sneakers";
@import "components/contacto";
@import "components/nosotros";

.def-margin {
    margin-top: 78px;
}

.text1 {
    display: flex;
    align-items: center;
}

.img-tm {
    width: 80%;
}

.disclaimer {
    display: none !important;
}