@import "components/navbar";
@import "components/footer";
@import "components/sneakers";

.container-newin {
    margin-top: 78px;
}

.text1 {
    display: flex;
    align-items: center;
}

.img-tm {
    width: 80%;
}