@import "../base/variables";
.navbar-brand {
    position: relative;
    top: 0.6px;
    img {
        width: 2em;
        height: 2em;
    }
}

.navbar ul a {
    font-family: Montserrat;
    // background-color: white;
    margin: 0px 20px;
    border-radius: 1.5rem;
    transition: all 0.5s;
    color: black;
    &:hover {
        background-color: $oscuro;
    }
}