@import "../base/variables";
@import "../base/mixins";
.navbar-brand img {
    @include img-tamaño(2em, 2em)
}

.navbar ul a {
    font-family: Montserrat;
    margin: 0px 20px;
    border-radius: 1.5rem;
    transition: all 0.5s;
    color: black;
    &:hover {
        background-color: $oscuro;
    }
}