@import "../base/variables";
@import "../base/mixins";
.navbar-brand img {
    @include img-tamaño(2em, 2em)
}

.navbar ul {
    position: relative;
    top: 8px;
    a {
        font-family: Montserrat;
        transition: all 0.3s;
        color: black;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        &:hover {
            border-bottom: 3px solid black;
        }
    }
}